*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(to left, rgba(200, 8,207, 0.75), rgba(28, 70, 184, 0.8)), url(img/pexels-hasan-albari-1229861.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
  }
  .topnav {
    background-color: #9118a948;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #24389d69;
    color: white;
  }
  .column {
    float: left;
    width: 25%;
    padding: 150px;
    height: 800px;;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;}
